<div class="navigation appBody--padding">
  <ul>
    <li *ngFor="let nav of navItems" class="navigation__main" [class.navigation__main--open]="nav.showChildren">
      <a *ngIf="!nav.children" routerLink="{{nav.link}}" routerLinkActive="active" (click)="showChildren(nav)">
        <fa *ngIf="nav.icon" name="{{nav.icon}}"></fa> {{nav.name}}
      </a>
      <a (click)="showChildren(nav)" *ngIf="nav.children">
        <fa *ngIf="nav.icon" name="{{nav.icon}}"></fa> {{nav.name}} <fa class="pull-right" name="{{(nav.showChildren)?'chevron-up':'chevron-down'}}"></fa>
      </a>
      <span *ngIf="nav.children">
        <ul [@openClose]="nav.showChildren ? 'open' : 'closed'" class="navigation__sub">
          <li *ngFor="let subNav of nav.children">
            <a routerLink="/{{nav.link}}/{{subNav.link}}" routerLinkActive="active">
              <fa *ngIf="subNav.icon" name="{{subNav.icon}}"></fa> {{subNav.name}}
            </a>
          </li>
        </ul>
      </span>
    </li>
  </ul>
</div>
