<div class="clearfix">&nbsp;</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <form name="test">
        <div class="form-group">
          <label>Account Type {{accountType}}</label>
          <select class="form-control" name="accountType" [(ngModel)]="accountType">
            <option value="1">FNB</option>
            <option value="2">eBucks</option>
            <option value="3">Nedbank Cheque</option>
            <option value="4">Nedbank Credit</option>
            <option value="5">Nedbank Savings</option>
            <!-- <option value="6">Nedbank Loan</option> -->
            <option value="7">Nedbank Investment</option>
          </select>
        </div>
        <div class="form-group">
          <input type="file" name="testing" class="form-control" #file (change)="process($event)" multiple />
        </div>
        <div class="form-group">
          <button class="btn btn-success" name="submit" type="button" (click)="process()">Process</button>
        </div>
        <div class="form-group"> Total Rows: <br>{{totalCount}} </div>
        <hr>
        <div class="form-group"> Data Rows: <br>{{dataRows}} </div>
        <div class="form-group"> Removed Records: <br>{{(removedRecords)}} </div>
        <div class="form-group"> Recorded Records: <br>{{addedRecords}} </div>
        <div class="form-group"> Existing Records: <br>{{existingRecords}} </div>
      </form>
    </div>
    <div class="col-md-9">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th style="width: 70px;"></th>
            <th>Statement ID</th>
            <th>Account Description</th>
            <th>Account</th>
            <th>Date 1</th>
            <th>Date 2</th>
            <th>Description</th>
            <th>Amount Out</th>
            <th>Amount In</th>
            <th>Balance</th>
            <th>Service Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactions; let loopIndex = index">
            <td>{{loopIndex}}</td>
            <td>{{item.statementId}}</td>
            <td>{{item.accountDescription}}</td>
            <td>{{item.account}}</td>
            <td>{{item.date1}}</td>
            <td>{{item.date2}}</td>
            <td>{{item.description}}</td>
            <td>{{item.amountOut}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.serviceFee}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
