/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/dist/css/bootstrap.min.css";
// @import "font-awesome/css/font-awesome.css";
// @import "ngx-toastr/toastr.css";
// @import "ngx-bootstrap/datepicker/bs-datepicker.css";
// @import "@riapacheco/yutes/main.scss";
// @import "@riapacheco/yutes/seasonal.scss";

@import "./app/scss/config.scss";
@import "./app/scss/global.scss";
@import "./app/scss/buttons.scss";
@import "./app/scss/footer.scss";
@import "./app/scss/inputs.scss";
@import "./app/scss/margin.scss";
@import "./app/scss/modal.scss";
@import "./app/scss/table.scss";
@import "./app/scss/pagination.scss";

.tab-content {
	padding-top: 30px;
}

.appBody--padding {
	padding: 20px;
}

div.buttons {
	margin-bottom: 10px;
}

.buttons_space {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	&__bottom {
		padding-top: 10px;
		padding-bottom: 10px;

		& .btn {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

.pagination {
	justify-content: center;
	margin-bottom: 0 !important;
}

legend {
	float: unset !important;
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #F3F3F4;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #CC0000;
}
