.block {
	border: 1px solid #efefef;
	border-radius: 5px;
	box-shadow: #ccc 2px 1px 5px;


	&__title {
		text-align: center;
		font-size: 18px;
		height: 85px;
		overflow: hidden;
		font-weight: bold;
		padding: 15px;
	}

	&__status {
		height: 2px;

		&--open {
			background-color: #009900;
		}

		&--closed {
			background-color: #FF0000;
		}
	}

	&__currency {
		padding: 15px;

		&--credit {
			height: 30px;
		}

		&--debit {
			height: 30px;
		}

		&--balance {
			height: 30px;
		}

		&--fw {
			width: 60px;
			display: inline-block;
		}
	}
}
