<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Number</th>
						<th>Status</th>
						<th>Credits</th>
						<th>Debits</th>
						<th>Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let account of accounts">
						<td>{{account.accountDescription}}</td>
						<td>{{account.accountNumber}}</td>
						<td>{{account.status}}</td>
						<td>{{account.totalCredit | currency : 'R '}}</td>
						<td>{{account.totalDebit | currency : 'R '}}</td>
						<td>{{account.balance | currency : 'R '}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
