<acc-page [megaMenu]="megaMenu">
	<div class="BankAccountsEdit" *ngIf="resultRecord">
		<tabset #staticTabs>
			<tab heading="Details">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="card">
							<div class="card-body">
								<form name="resultRecord" id="resultRecord" (ngSubmit)="submit()">
									<acc-inputs [inputLabel]="'ID'">
										<input [(ngModel)]="resultRecord._id" name="id" [disabled]="submitted" type="text" />
									</acc-inputs>
									<acc-inputs [inputLabel]="'Description'">
										<input [(ngModel)]="resultRecord.description" name="description" [disabled]="submitted" type="text" />
									</acc-inputs>
									<acc-inputs [inputLabel]="'Budget'">
										<input [(ngModel)]="resultRecord.budget" name="budget" [disabled]="submitted" type="text" />
									</acc-inputs>
									<acc-inputs [inputLabel]="'Actual'">
										<input [(ngModel)]="resultRecord.actual" name="actual" [disabled]="submitted" type="text" />
									</acc-inputs>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<acc-inputs [inputLabel]="'Essential Budget Item'">
												<div class="inputs__checkboxWrapper">
													<input [(ngModel)]="resultRecord.essential" name="essential" class="inputs__common inputs__checkbox" [disabled]="submitted" type="checkbox" />
												</div>
											</acc-inputs>
										</div>
										<div class="col-md-6 col-sm-12">
											<acc-inputs [inputLabel]="'Created Date'">
												<input [(ngModel)]="resultRecord.created" name="created" [disabled]="submitted" bsDatepicker />
											</acc-inputs>
										</div>
									</div>
									<acc-inputs [inputValue]="resultRecord.category" (updater)="updateValue($event, 'category')" [inputType]="'select'" [submitted]="submitted" [inputLabel]="categories.label" [selectOptions]="categories.options"></acc-inputs>
									<acc-inputs [inputValue]="resultRecord.status" (updater)="updateValue($event, 'status')" [inputType]="'select'" [submitted]="submitted" [inputLabel]="recordStatuses.label" [selectOptions]="recordStatuses.options"></acc-inputs>
									<acc-inputs [inputValue]="resultRecord.keywords" (updater)="updateValue($event, 'keywords')" [inputType]="'textArea'" [submitted]="submitted" [inputLabel]="'Keywords'"></acc-inputs>
								</form>
								<div class="text-center">
									<div class="row">
										<div class="col-md-6">
											<a class="btn btn-secondary" [routerLink]="['/budget','view']">
												<fa-icon [icon]="['fas', 'backward']" [fixedWidth]="true"></fa-icon>
											</a>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-success" (click)="submit()" *ngIf="!submitted">
												<fa-icon [icon]="['fas', 'save']" [fixedWidth]="true"></fa-icon>
											</button>
											<span class="btn btn-info" *ngIf="submitted">
												<fa-icon [icon]="['fas', 'spinner']" [fixedWidth]="true" [spin]="true"></fa-icon>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="card">
							<div class="card-body">
								<legend>Breakdown - <button class="btn btn-sm btn-primary" (click)="breakdownAdd = !breakdownAdd">
										<fa-icon [icon]="['fas', 'plus']" [fixedWidth]="true" *ngIf="!breakdownAdd"></fa-icon>
										<fa-icon [icon]="['fas', 'minus']" [fixedWidth]="true" *ngIf="breakdownAdd"></fa-icon>
									</button>
								</legend>
								<ng-container *ngIf="breakdownAdd; else viewBreakdown">
									<form name="recordBreakdownAdd" id="recordBreakdownAdd">
										<div class="row">
											<div class="col-md-12">
												<acc-inputs [inputLabel]="'Description'">
													<input [(ngModel)]="recordBreakdown.description" name="recordBreakdown_description" [disabled]="submitted" type="text" />
												</acc-inputs>
											</div>
											<div class="col-md-4 col-sm-12">
												<acc-inputs [inputLabel]="'Budget'">
													<input [(ngModel)]="recordBreakdown.budget" name="recordBreakdown_budget" [disabled]="submitted" type="text" />
												</acc-inputs>
											</div>
											<div class="col-md-4 col-sm-12">
												<acc-inputs [inputLabel]="'Date Created'">
													<input [(ngModel)]="recordBreakdown.created" name="recordBreakdown_created" [disabled]="submitted" type="text" bsDatepicker />
												</acc-inputs>
											</div>
											<div class="col-md-4 col-sm-12">
												<acc-inputs [inputValue]="recordBreakdown.status" (updater)="updateBreakdownValue($event, 'status')" [inputType]="'select'" [submitted]="submitted" [inputLabel]="recordStatuses.label" [selectOptions]="recordStatuses.options"></acc-inputs>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<button type="button" class="btn btn-success" (click)="addBreakdown()" *ngIf="!submitted">
													<fa-icon [icon]="['fas', 'save']" [fixedWidth]="true"></fa-icon>
												</button>
											</div>
										</div>
									</form>
								</ng-container>
								<ng-template #viewBreakdown>
									<table class="table table-sm">
										<colgroup>
											<col>
											<col style="width: 100px;">
											<col style="width: 100px;">
											<col style="width: 60px;">
											<col style="width: 60px;">
										</colgroup>
										<thead>
											<tr>
												<th>Description</th>
												<th>Budget</th>
												<th>Created</th>
												<th>Status</th>
												<th></th>
											</tr>
										</thead>
										<tbody *ngIf="resultRecord.breakdown">
											<tr *ngFor="let row of resultRecord.breakdown; let i = index;">
												<td>{{row.description}}</td>
												<td>{{row.budget | currency: 'R '}}</td>
												<td>{{row.created}}</td>
												<td>{{row.status}}</td>
												<td>
													<button class="btn btn-sm btn__color-info" (click)="editBreakdown(i)">
														<fa-icon [icon]="['fas', 'pencil-alt']" [fixedWidth]="true"></fa-icon>
													</button>
													<button class="btn btn-sm btn__color-danger" (click)="removeBreakdown(i)">
														<fa-icon [icon]="['fas', 'trash']" [fixedWidth]="true"></fa-icon>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Records">
				<div class="card">
					<div class="card-body">
						<acc-budget-records [budgetId]="resultRecord._id" [keywords]="resultRecord.keywords"></acc-budget-records>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</acc-page>
