<div class="journal-block" *ngIf="journal">
	<div class="journal-block__title">{{journal.accountName}}</div>
	<div class="journal-block__status" [ngClass]="checkClass(journal.status)"></div>
	<div class="journal-block__currency">
		<div class="journal-block__currency--credit"><span class="journal-block__currency--fw">Credits</span>: R {{formatNumbers(journal.totalCredit)}}</div>
		<div class="journal-block__currency--debit"><span class="journal-block__currency--fw">Debits</span>: R {{formatNumbers(journal.totalDebit)}}</div>
		<div class="journal-block__currency--balance"><span class="journal-block__currency--fw">Balance</span>: R {{formatNumbers(journal.balance)}}</div>
	</div>
</div>
