<div class="inputs">
	<span class="inputs__label">{{inputLabel}}</span>
	<!-- text input -->
	<input type="text" [value]="inputValue" name="{{inputLabel}}" class="inputs__common inputs__text" (blur)="pushChanges($event.target.value)" *ngIf="inputType == 'text'">
	<!-- date picker -->
	<ng-container *ngIf="inputType == 'date'">
		<input type="text" class="inputs__common inputs__date"  [(ngModel)]="inputValue" name="{{inputLabel}}" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="pushDateChanges($event)"  *ngIf="inputValue">
		<input type="text" class="inputs__common inputs__date"  name="{{inputLabel}}" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="pushDateChanges($event)"  *ngIf="!inputValue">
	</ng-container>
	<!-- select -->
	<select class="inputs__common inputs__select" name="{{inputLabel}}" *ngIf="inputType == 'select' && selectOptions" (change)="pushChanges($event.target.value)">
		<option *ngFor="let _option of selectOptions" [value]="_option.value" [selected]="inputValue == _option.value">{{_option.label}}</option>
	</select>
	<!-- text area -->
	<textarea [value]="inputValue" name="{{inputLabel}}" class="inputs__common inputs__textArea" rows="4" *ngIf="inputType == 'textArea'"></textarea>
	<!-- error -->
	<acc-errors [element]="inputValue" *ngIf="submitted"></acc-errors>
</div>
