.BudgetDashBar {
	&__graph {
		height: 300px;
		width: 100%;
	}
}
::ng-deep line#limit {
    stroke: #FED966;
    stroke-width: 1;
    stroke-dasharray: 3 6;
}

::ng-deep .grid path {
    stroke-width: 0.5;
}

::ng-deep .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.2;
}
