<div class="bank-accounts-edit">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h1>Account Information</h1>
						<div class="container">
							<form [formGroup]="bankAccountsAddForm" name="bankAccountsAddForm" id="bankAccountsAddForm" (ngSubmit)="submit()">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Account Number</label>
											<input type="text" formControlName="accountNumber" name="accountNumber" class="form-control" [ngClass]="checkClass(f.accountNumber)">
											<app-errors [element]="f.accountNumber" *ngIf="submitted"></app-errors>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Account Description</label>
											<input type="text" formControlName="accountDescription" name="accountDescription" class="form-control" [ngClass]="checkClass(f.accountDescription)">
											<app-errors [element]="f.accountDescription" *ngIf="submitted"></app-errors>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Date Opened</label>
											<input type="text" class="form-control" formControlName="dateOpened" name="dateOpened" bsDatepicker [bsConfig]="bsConfig" [ngClass]="checkClass(f.dateOpened)">
											<app-errors [element]="f.dateOpened" *ngIf="submitted"></app-errors>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Date Closed</label>
											<input type="text" class="form-control" formControlName="dateClosed" name="dateClosed" bsDatepicker [bsConfig]="bsConfig" [ngClass]="checkClass(f.dateClosed)">
											<app-errors [element]="f.dateClosed" *ngIf="submitted"></app-errors>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>CSV Type</label>
											<select class="form-control" formControlName="csvType" name="csvType" [ngClass]="checkClass(f.csvType)">
												<option value="">Please select</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
											<app-errors [element]="f.csvType" *ngIf="submitted"></app-errors>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label>Status</label>
											<select formControlName="status" name="status" class="form-control" [ngClass]="checkClass(f.status)">
												<option value="">Select</option>
												<option value="open">Open</option>
												<option value="closed">Closed</option>
											</select>
											<app-errors [element]="f.status" *ngIf="submitted"></app-errors>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="text-center navbar__bottom">
							<a class="btn btn-secondary" routerLink="/bank-accounts">
								<fa name="backward"></fa>
							</a>
							<button type="button" class="btn btn-success" (click)="submit()" *ngIf="!submitted">
								<fa name="save"></fa> Update
							</button>
							<span class="btn btn-info" *ngIf="submitted">
								<fa name="spinner" animation="spin"></fa>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-10">
								<h1>Account Records</h1>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-secondary pull-right" (click)="addNewRecords()">
									<fa name="plus"></fa>
								</button>
							</div>
						</div>
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Statement ID</th>
									<th>Date 1</th>
									<th>Date 2</th>
									<th>Description</th>
									<th>Credit</th>
									<th>Debit</th>
									<th>Balance</th>
									<th style="width: 40px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of accountRecords; let loopIndex = index">
									<td>{{item.statementId}}</td>
									<td>{{item.date1}}</td>
									<td>{{item.date2}}</td>
									<td>{{item.description}}</td>
									<td>{{item.credit}}</td>
									<td>{{item.debit}}</td>
									<td>{{item.balance}}</td>
									<td>
										<span class="badge badge-danger" *ngIf="item.processed == 'false'">&nbsp;</span>
										<span class="badge badge-success" *ngIf="item.processed == 'true'">&nbsp;</span>
										<span class="badge badge-info" *ngIf="item.processed == 'exists'">&nbsp;</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
