<div class="header">
	<div class="row no-gutters">
		<div class="col-md-6"><a class="header__brand" routerLink="/">{{headerTitle}}</a></div>
		<div class="col-md-6">
			<ul class="header__navigation">
				<li class="header__navigation--item">
					<a class="header__navigation--item-link">
						<fa-icon [icon]="faBell"></fa-icon>
					</a>
				</li>
				<li class="header__navigation--item">
					<a class="header__navigation--item-link">
						<fa-icon [icon]="faCog"></fa-icon>
					</a>
				</li>
				<li class="header__navigation--item">
					<a routerLink="menu" routerLinkActive="header__navigation--item-link-active" class="header__navigation--item-link" [routerLinkActiveOptions]="{exact: true}">
						<fa-icon [icon]="faBars"></fa-icon>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
