<div class="header bg-dark">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"><a class="header__brand" routerLink="/">{{headerTitle}}</a></div>
			<div class="col-md-6">
				<ul class="header__navigation">
					<li>
						<a>
							<fa name="bell"></fa>
						</a>
					</li>
					<li>
						<a>
							<fa name="cog"></fa>
						</a>
					</li>
					<li>
						<a routerLink="menu" routerLinkActive="active">
							<fa name="bars"></fa>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
