<div class="page">
	<div class="page__left">
		<acc-side-menu [menuItems]="megaMenu"></acc-side-menu>
	</div>
	<div class="page__container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">
					<acc-filter-box (updater)="filterUpdater($event)" [filterBoxOptions]="filterBoxOptions" [filterBoxConfig]="filterBoxConfig"></acc-filter-box>
					<div class="card">
						<div class="card-body">
							<legend>Extra Controls</legend>
							<div class="form-group text-center">
								<button type="button" (click)="fixSort()" class="btn btn-light">
									<fa-icon [icon]="['fas', 'sync']"></fa-icon> Fix Sort
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-10">
					<acc-table-pagination [filterBoxOptions]="filterBoxOptions" (updater)="filterUpdater($event)"></acc-table-pagination>
					<table class="table-component__table">
						<colgroup>
							<col width="170px">
							<col width="35px">
							<col>
							<col width="100px">
							<col width="100px">
							<col width="100px">
							<col width="100px">
							<col width="100px">
							<col width="100px">
							<col width="35px">
							<col width="35px">
						</colgroup>
						<thead class="table-component__table--head">
							<tr class="table-component__table--head-row">
								<th>ID</th>
								<th>Order</th>
								<th>Description</th>
								<th>Date 1</th>
								<th>Date 2</th>
								<th>Credit</th>
								<th>Debit</th>
								<th>Balance</th>
								<th>Cal Balance</th>
								<th>Service Fee</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody class="table-component__table--body" *ngIf="tableBody">
							<tr *ngFor="let row of tableBody; let i = index" class="table-component__table--body-row">
								<td>{{ row._id }}</td>
								<td>{{ row.order }}</td>
								<!-- <td>{{ row.description }}</td> -->
								<td>
									<input type="text" [(ngModel)]="row.description" (blur)="updateRecord(row)">
								</td>
								<td>{{ row.date1 }}</td>
								<td>{{ row.date2 }}</td>
								<td>{{ row.credit | currency : 'R ' }}</td>
								<td>{{ row.debit | currency : 'R ' }}</td>
								<td>
									<input type="number" [(ngModel)]="row.balance" (blur)="updateRecord(row)">
								</td>
								<!-- <td>{{ row.balance }}</td> -->
								<td>{{ showCalBalance(i) }}</td>
								<td>{{ row.serviceFee }}</td>
								<td class="table-component__controls">
									<span ng-if="userRoles.edit == 'true'">
										<a class="table-component__table--body-row-button edit" [routerLink]="['/budget', 'edit', row._id]">
											<fa-icon [icon]="['fas', 'pencil-alt']" [fixedWidth]="true"></fa-icon>
										</a>
									</span>
								</td>
								<td>
									<span ng-if="userRoles.delete == 'true'">
										<button type="button" class="table-component__table--body-row-button delete" (click)="filterUpdater( {action:'delete', record: row._id} )">
											<fa-icon [icon]="['fas', 'minus-circle']" [fixedWidth]="true"></fa-icon>
										</button>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
