<div class="page">
	<div class="page__left">
		<acc-side-menu [menuItems]="megaMenu"></acc-side-menu>
	</div>
	<div class="page__container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">
					<acc-filter-box (updater)="filterUpdater($event)" [filterBoxOptions]="filterBoxOptions" [filterBoxConfig]="filterBoxConfig"></acc-filter-box>
				</div>
				<div class="col-10">
					<acc-table [tableHead]="tableHead" [tableBody]="tableBody" (updater)="filterUpdater($event)" [editModule]="module" [filterBoxOptions]="filterBoxOptions" [showStatus]="true"></acc-table>
				</div>
			</div>
		</div>
	</div>
</div>
