.BudgetDash {
	&__Summary {
		&--Item {
			width: 200px;
			display: inline-block;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__Row {
		display: flex;
		flex-wrap: wrap;

		&--Column {
			max-width: 405px;
			margin: 5px;
			display: block;
			width: 100%;
		}
	}
}
