<div class="page">
	<div class="page__left">
		<acc-side-menu [menuItems]="megaMenu"></acc-side-menu>
	</div>
	<div class="page__container">
		<div class="container-fluid">
			<div class="report mt_30">
				<div class="report__controls">
					<div class="row">
						<div class="col-md-2">
							<acc-inputs [inputValue]="year" (updater)="updateValue($event, 'year')" [inputType]="'date_year'" [submitted]="submitted" [inputLabel]="'Year'"></acc-inputs>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-info" (click)="load()">
								<fa-icon [icon]="['fas', 'search']" [fixedWidth]="true"></fa-icon> Search
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="BudgetDash__Summary">
				<div class="card text-center BudgetDash__Summary--Item">
					<div class="card-body"> Total Budget:<br>{{totalBudget| currency:'R '}} </div>
				</div>
				<div class="card text-center BudgetDash__Summary--Item">
					<div class="card-body"> Total Essential:<br>{{totalEssential| currency:'R '}} </div>
				</div>
				<div class="card text-center BudgetDash__Summary--Item">
					<div class="card-body"> Total Non Essential:<br>{{totalNonEssential| currency:'R '}} </div>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div class="BudgetDash__Row">
				<div class="BudgetDash__Row--Column" *ngFor="let column of resultRecord">
					<acc-budget-dash-bar [budgetItem]="column"></acc-budget-dash-bar>
				</div>
			</div>
		</div>
	</div>
</div>
