@import 'util/fluid-typography';
@import 'util/background-gradient';
@import 'util/box-shadow';
@import 'util/animations';

$baseFontSize: 10;
$convertPixelToRem: true;
$timing: 1s;

$xxsm: 3px;
$xsm: 5px;
$sm: 10px;
$norm: 15px;
$md: 20px;
$lg: 25px;
$xlg: 30px;
$xxlg: 45px;

/* FONTS
=====================*/
$regular : '';
$extra-light : '';
$light : '';
$condensed-light : '';
$medium : '';
$book : '';
$bold : '';

/* COLORS
=====================*/
$black: rgb(0, 0, 0);
$blue: rgb(41, 150, 194);
$green: rgb(0, 128, 0);
$grey: rgb(135, 135, 135);
$greyLight: rgba(239, 239, 239, 0.937);
$greyMedium: rgb(211, 211, 211);
$greyDark: rgb(52, 58, 64);
$purple: rgb(63, 15, 115);
$turqoise: rgb(47, 213, 173);
$red:rgb(255, 0, 0);
$orange: rgb(249, 85, 0);
$orange: rgb(249, 85, 0);
$white: rgb(255, 255, 255);
$pink: rgb(216, 46, 152);
$button: rgb(23, 162, 184);
$buttonHover:rgb(20, 91, 102);

/* BREAKPOINTS
=====================*/
$smartphone-portrait : 320px;
$smartphone-landscape : 480px;

$phablet: 640px;
$phablet-landscape: 736px;

$tablet-portrait : 768px;
$tablet-landscape : 1024px;

$desktop-small: 992px;
$desktop-medium: 1200px;
$desktop-large: 1400px;
