@import "./config.scss";

.inputs {
	padding: 5px;
	margin-bottom: 20px;
	font-size: 13px;
	border-radius: 5px;

	& input,
	select,
	textarea,
	&__dropdown--toggle {
		width: 100%;
		display: block;
		border-radius: 0;
		outline: 0;
		border-top: 0;
		border: 0;
		margin: 0;
		padding: 5px 0;
	}

	&__label {
		font-size: 10px;
		background-color: $white;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: -15px;
		margin-left: 10px;
		position: absolute;
	}

	&__standard {
		border: 1px solid $greyMedium;
	}

	&__button {
		border-color: $button;
		background-color: $button;
		color: #fff;
		display: inline-block;

		&:hover {
			background-color: $buttonHover;
		}
	}

	&__common {
		width: 100%;
		display: block;
		border-radius: 0;
		outline: 0;
		border-top: 0;
		border: 0;
		margin: 0;
		padding: 5px 0;
	}

	&__checkboxWrapper {
		padding: 4px;
	}

	&__checkbox {
		height: 20px;
		width: 20px;
		margin: 0 auto;
	}

	&__file {
		padding: 0 5px;
		display: block;
		cursor: pointer;
		margin-bottom: 0;
	}

	&__dropdown {
		display: block;
		position: relative;

		&--content {
			position: absolute;
			border: 1px solid $greyMedium;
			border-radius: 5px;
			width: 290px;
			margin-left: -5px;
			background-color: #fff;
			margin-top: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			max-height: 200px;
			overflow: auto;
		}

		&--parent {
			padding-left: 1rem;
			line-height: 1.5rem;
		}

		&--child {
			list-style-type: none;
			padding: 0;
			margin: 0;

			& li {
				line-height: 1.5rem;
			}
		}

		&--option {
			padding-left: 2rem;
			cursor: pointer;
		}

		&--toggle {
			display: block;
			cursor: pointer;
		}

		&--toggleIcon {
			float: right;
		}

		&--hidden {
			display: none;
		}

		&--active {
			background-color: #efefef;
		}
	}
}
