<div class="filter-box" *ngIf="filterBoxConfig">
  <div *ngIf="!filterBoxConfig.updateControls && filterBoxOptions">
    <div class="card" *ngIf="filterBoxConfig.showStatusFilter">
      <div class="card-body">
        <legend>Status Filter</legend>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <label class="btn btn-secondary" (click)="updateFilter()" [(ngModel)]="filterBoxOptions.state" btnRadio="'all'" name="state">All</label>
          <label class="btn btn-secondary" (click)="updateFilter()" [(ngModel)]="filterBoxOptions.state" btnRadio="'false'" name="state">Active</label>
          <label class="btn btn-secondary" (click)="updateFilter()" [(ngModel)]="filterBoxOptions.state" btnRadio="'true'" name="state">Canceled</label>
        </div>
      </div>
    </div>
    <!-- close card -->
    <div class="card" *ngIf="filterBoxOptions.state=='due'">
      <div class="card-body">
        <label>Date for due products:</label>
        <input type="text" class="form-control" [(ngModel)]="filterBoxOptions.date" name="date" bsDatepicker [bsConfig]="bsConfig" (ngModelChange)="updateDate()"> </div>
    </div>
    <!-- close card -->
    <div class="card" *ngIf="filterBoxConfig.showSearch">
      <div class="card-body">
        <form (ngSubmit)="updateSearch()">
          <legend>Search</legend>
          <div class="input-group input-group-sm">
            <input class="form-control" type="text" [(ngModel)]="filterBoxOptions.searchPhrase" name="searchPhrase" id="searchPhrase">
            <div class="input-group-append">
              <button type="button" (click)="resetSearch()" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card" *ngIf="filterBoxConfig.showPager">
      <div class="card-body">
        <legend>Pager</legend>
        <p>Total Records: {{filterBoxOptions.totalRecords}}</p>
        <div class="form-group">
          <label>Records Per Page</label>
          <select [(ngModel)]="filterBoxOptions.pagerRecords" (ngModelChange)="updateRecords()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <legend>Controls</legend>
        <div class="form-group text-center">
          <button type="button" (click)="refreshRecords()" class="btn btn-default btn-sm">
            <span class="fa fa-refresh"></span> Refresh List </button>
          <button type="button" (click)="addRecord()" class="btn btn-primary btn-sm">
            <span class="fa fa-plus"></span> Record </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterBoxConfig.updateControls">
    <div class="card">
      <div class="card-body" *ngIf="!submitted">
        <div class="form-group text-center">
          <button type="button" name="submit" value="submit" class="btn btn-success btn-block shadow" (click)="updateForm()">
            <span class="fa fa-save"></span>&nbsp; <span *ngIf="!parentId">Create</span>
            <span *ngIf="parentId">Save</span>
          </button>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="form-group text-center">
          <a routerLink="{{filterBoxConfig.backLink}}" class="btn btn-info btn-block shadow"><span class="fa fa-chevron-left"></span> Back </a>
        </div>
      </div>
    </div>
    <div *ngIf="submitted">
      <a class="btn btn-info">
        <span class="fa fa-refresh fa-spin"></span> Saving! </a>
    </div>
  </div>
</div>
