<acc-page [megaMenu]="megaMenu">
	<div class="row">
		<div class="col-2">
			<acc-filter-box (updater)="filterUpdater($event)" [filterBoxOptions]="filterBoxOptions" [filterBoxConfig]="filterBoxConfig"></acc-filter-box>
			<div class="card">
				<div class="card-body">
					<legend>Extra Controls</legend>
					<div class="form-group text-center">
						<button type="button" (click)="fixSort()" class="btn btn-light">
							<fa-icon [icon]="['fas', 'sync']"></fa-icon> Fix Sort
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-10">
			<acc-table-pagination [filterBoxOptions]="filterBoxOptions" (updater)="filterUpdater($event)"></acc-table-pagination>
			<table class="table-component__table">
				<colgroup>
					<col width="170px"> <!-- id -->
					<col width="50px"> <!-- hash -->
					<col width="35px"> <!-- order -->
					<col> <!-- description -->
					<col width="100px"> <!-- date 1 -->
					<col width="100px"> <!-- budget year -->
					<col width="100px"> <!-- budget month -->
					<col width="100px"> <!-- budget -->
					<col width="100px"> <!-- credit -->
					<col width="100px"> <!-- debit -->
					<col width="100px"> <!-- balance -->
					<col width="100px"> <!-- cal balance -->
					<col width="35px"> <!-- service fee -->
					<col width="35px"> <!-- actions -->
				</colgroup>
				<thead class="table-component__table--head">
					<tr class="table-component__table--head-row">
						<th>ID</th>
						<th>Hash</th>
						<th>Order</th>
						<th>Description</th>
						<th>Date 1</th>
						<th>Budget Year</th>
						<th>Budget Month</th>
						<th>Budget</th>
						<th>Credit</th>
						<th>Debit</th>
						<th>Balance</th>
						<th>Cal Balance</th>
						<th>Service Fee</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-component__table--body" *ngIf="tableBody">
					<tr *ngFor="let row of tableBody; let i = index" class="table-component__table--body-row">
						<td>{{ row._id }}</td>
						<td><span *ngIf="row.hash">true</span></td>
						<!-- <td>{{ row.order }}</td> -->
						<td>
							<input type="number" [(ngModel)]="row.order" (blur)="updateRecord(row)" style="width: 60px;">
						</td>
						<!-- <td>{{ row.description }}</td> -->
						<td>
							<input type="text" [(ngModel)]="row.description" (blur)="updateRecord(row)" style="width: 400px;">
						</td>
						<td>
							<input type="text" [(ngModel)]="row.date1" (blur)="updateRecord(row)" style="width: 90px;">
						</td>
						<td>
							<input type="text" [(ngModel)]="row.budgetYear" (blur)="updateRecord(row)" style="width: 90px;">
						</td>
						<td>
							<input type="text" [(ngModel)]="row.budgetMonth" (blur)="updateRecord(row)" style="width: 90px;">
						</td>
						<td>
							<select name="budget" id="budget" [(ngModel)]="row.budgetId" (change)="updateRecord(row)" style="width: 90px;">
								<option value=""></option>
								<option *ngFor="let item of budgetItems" value="{{item._id}}">{{item.description}}</option>
							</select>
						</td>
						<td>{{ row.credit }}</td>
						<td>{{ row.debit }}</td>
						<td>
							<input type="number" [(ngModel)]="row.balance" (blur)="updateRecord(row)">
						</td>
						<!-- <td>{{ row.balance }}</td> -->
						<td>{{ showCalBalance(i) }}</td>
						<td>{{ row.serviceFee }}</td>
						<td class="table-component__controls">
							<span ng-if="userRoles.edit == 'true'">
								<a class="table-component__table--body-row-button edit" [routerLink]="['/budget', 'edit', row._id]">
									<fa-icon [icon]="['fas', 'pencil-alt']" [fixedWidth]="true"></fa-icon>
								</a>
							</span>
						</td>
						<td>
							<span ng-if="userRoles.delete == 'true'">
								<button type="button" class="table-component__table--body-row-button delete" (click)="filterUpdater( {action:'delete', record: row._id} )">
									<fa-icon [icon]="['fas', 'minus-circle']" [fixedWidth]="true"></fa-icon>
								</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</acc-page>
