<div class="page">
	<div class="page__left">
		<acc-side-menu [menuItems]="megaMenu"></acc-side-menu>
	</div>
	<div class="page__container">
		<div class="BankAccountsEdit">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="card">
							<div class="card-body" *ngIf="resultRecord">
								<form name="resultRecord" id="resultRecord" (ngSubmit)="submit()">
									<div class="row">
										<div class="col-sm-12">
											<acc-inputs [inputValue]="resultRecord.company" (updater)="updateValue($event, 'company')" [inputType]="'text'" [submitted]="submitted" [inputLabel]="'Company'"></acc-inputs>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<acc-inputs [inputValue]="resultRecord.created" (updater)="updateValue($event, 'created')" [inputType]="'date'" [submitted]="submitted" [inputLabel]="'Created Date'"></acc-inputs>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<acc-inputs [inputValue]="resultRecord.invoiceHeader" (updater)="updateValue($event, 'invoiceHeader')" [inputType]="'editor'" [submitted]="submitted" [inputLabel]="'Invoice Header'" [textAreaRows]="8"></acc-inputs>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<acc-inputs [inputValue]="resultRecord.accountDetails" (updater)="updateValue($event, 'accountDetails')" [inputType]="'editor'" [submitted]="submitted" [inputLabel]="'Account Details'" [textAreaRows]="8"></acc-inputs>
										</div>
									</div>
								</form>
								<div class="text-center">
									<div class="row">
										<div class="col-md-6">
											<a class="btn btn-secondary" [routerLink]="['/companies','view']">
												<fa-icon [icon]="['fas', 'backward']" [fixedWidth]="true"></fa-icon>
											</a>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-success" (click)="submit()" *ngIf="!submitted">
												<fa-icon [icon]="['fas', 'save']" [fixedWidth]="true"></fa-icon>
											</button>
											<span class="btn btn-info" *ngIf="submitted">
												<fa-icon [icon]="['fas', 'spinner']" [fixedWidth]="true" [spin]="true"></fa-icon>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
