.page {
	height: calc(100% - 47px);
	display: flex;
	align-items: stretch;
	overflow: auto;

	&__edit {
	  height: calc(100% - 124px);
	}

	&__left {
		max-height: calc(100% - 60px);
		overflow-x: auto;
		flex: 200px;
	}

	&__container {
		padding: 20px;
		width: 100%;
		// margin-top: 10px;
		flex: auto;
		overflow: auto;

		&-menu {
			height: calc(100% - 51px);
		}
	}
}
