<div class="container appMenu">
	<legend>Management</legend>
	<div class="row">
	  <div class="col-md-2 col-sm-3 col-xs-6" *ngFor="let menu of managementMenu">
		<div class="card">
		  <a class="btn btn-zawebs btn-block" routerLink="{{menu.url}}">
			<span class="fa fa-{{menu.icon}} fa-2x"></span>
			<br>{{menu.name}}</a>
		</div>
	  </div>
	</div>
	<legend>Admin</legend>
	<div class="row">
	  <div class="col-md-2 col-sm-3 col-xs-6" *ngFor="let menu of adminMenu">
		<div class="card">
		  <a class="btn btn-zawebs btn-block" routerLink="{{menu.url}}">
			<span class="fa fa-{{menu.icon}} fa-2x"></span>
			<br>{{menu.name}}</a>
		</div>
	  </div>
	</div>
	<div>
	  <legend>Reports</legend>
	  <div class="row">
		<div class="col-md-2 col-sm-3 col-xs-6">
		  <div class="card">
			<a class="btn btn-sm btn-zawebs btn-block" routerLink="/reports-income">
			  <span class="fa fa-dollar fa-2x"></span>
			  <br>Income Report</a>
		  </div>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-6">
		  <div class="card">
			<a class="btn btn-sm btn-zawebs btn-block" routerLink="/reports-expense">
			  <span class="fa fa-list-alt fa-2x"></span>
			  <br>Expense Report</a>
		  </div>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-6">
			<div class="card">
			  <a class="btn btn-sm btn-zawebs btn-block" routerLink="/reports-adwords">
				<span class="fa fa-list-alt fa-2x"></span>
				<br>Adwords Report</a>
			</div>
		  </div>
	  </div>
	</div>
	<div ng-if="userAccess.expenditure === 'true'">
	  <legend>Expenditure</legend>
	  <div class="row">
		<div class="col-md-2 col-sm-3 col-xs-6">
		  <div class="thumbnail">
			<a class="btn btn-sm btn-zawebs btn-block" routerLink="/expenditure">
			  <span class="fa fa-usd fa-2x"></span>
			  <br>Expenditure</a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <nav class="navbar fixed-bottom bg-dark">
	<div class="container">
	  <a class="btn btn-danger" routerLink="/dashboard">
		<span class="fa fa-home"></span>
	  </a>
	  <!-- <a class="btn" href="/profile" data-toggle="tooltip" title="Edit Profile"><span class="fa fa-user fa-2x"></span>-->
	  <a class="btn btn-danger" routerLink="/logout">
		<span class="fa fa-power-off "></span>
	  </a>
	</div>
  </nav>
